body{
    background-color: green;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
}

.row{
    /* width:-content; */
    margin: 8px;
}

.style{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.title{
    text-transform: uppercase;
    color: blue;
    text-align: center;
    padding: -12px;
    font-weight: 450;
    font-size: 38px;
    margin: 0%;
}

.title:hover{
    text-decoration: underline;
    color: red;
    font-weight: 900;  
    transition: .5s ease-in-out;  
}
.logo-img{
    height: 8px;
    width: 8px;
}

.new{ 
    color: #292;
    text-align:right;
}

.new:hover{
    color: orange;
    transition: .4s ease-in-out;
}

/* Navigation Bar */
nav{
    background: linear-gradient(45deg, orange, rgb(245, 161, 6));
}

nav ul.navbar-nav li:hover{
    background: blue;
    size:5px;
}

nav.navbar{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}


nav a, a.navbar-brand{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 18px;
}

    /* Carousel */
.mzin-slider img{
        max-height: 60vh!important;
}

/* ptogram styling */
.program{
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.program .card img{
    height: 300px;
    opacity: .8;
}

.program .card:hover img{
    opacity: 1;
}

.program .card:hover .card-body{
    color: white;
    
    background: linear-gradient(to left, #04f12cd5, #05db22f5);
}

.program .card{
    margin-top: 32px;
    margin-bottom: 32px;
}

/* last Section PRICING */
.pricing {
    background-image: url();
    background: linear-gradient(45deg, #2929cf, #e9e50e9c),url('./NAIROBI\ 1.jpg');
}

.pricing .card:hover .card-body{
    color: white;
    
    background: linear-gradient(to left, hsla(115, 94%, 34%, 0.89), rgba(5, 173, 19, 0.671));
}

.program{
    margin-bottom: 120px;
    margin-top: 120px;
    margin-left:auto;
    margin-right:auto;
}

.call-to-action{
    background-image: url(./Activity\ 7.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat;
    background-size: contain;
}
.py-10{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Upper Footer */

footer.upper-footer{
    background-color: #635c5cec;
    color: #fdfdfd;
}


@media screen and (max-width:576px){
    .modern{
        border-right: 2px solid blue;
    }
    
}



footer.lower-footer{
    background-color: white;
    color: black;
}

@media screen and (max-width:576px){
    .mission{
        border-right: 1px solid green;
    }
    
}

/* Meant for Footer */
.credit{
    background: linear-gradient(60deg, #28479c, #591ffa);
}
.credit p{
    color: red;
    font-size: 20px;
    padding: -80px; 
    margin: 0%; 
}

.credit:hover{
    transform: rotate(10deg);
    transition-duration: .2s;
}

.last-footer{;
    text-align: center;
    padding: 0%;
    font-weight: 12;
    font-size: 18px;
    margin: 0%;
}